.vehiculo-table-responsive {
    max-height: 270px;
    overflow-y: auto;
}

.vehiculo-container-section {
    height: 250px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.vehiculo-table-section {
    width: 48%;
}

.vehiculo-table-section h4 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    margin-bottom: 10px;
}